= turbo_stream_from "bell"
= turbo_stream_from "notifications"
#notifs
  %dib{id: "bell#{recipient.id}"}
    = render "users/buttons/bell", enable: enable
  .hidden{id: "notifs-box#{recipient.id}"}
    = render "users/notifs_box", recipient: recipient
