.grid.grid-rows-auto.border.rounded.p-3.shadow.gap-3.bg-white.hover{id: dom_id(post)}
  .inline-flex.items-center
    = link_to (controller_name == "users" ? "#" : user_path(post.author)),
      class: "inline-flex items-center gap-3 border-b w-max" do
      = image_tag url_for(post.author.avatar_thumbnail), class: "rounded"
      .text-gray-700
        #{post.author.full_name}
    .flex-grow
    = link_to post_path(post), method: :delete, data: {controller: "reveal-for", "reveal-for-id-value": post.author.id} do
      = heroicon "trash", options: {class: "h-5 text-gray-600 hover:text-red-600"}
    = link_to post do
      = heroicon "external-link", options: {class: "h-5 text-gray-500 hover:text-gray-700"}
  .text-lg.text-gray-700.break-all.mx-4
    = post.body
    - if post.image.attached?
      = image_tag url_for(post.image), class: "rounded-md mt-3"
  = render "posts/interactions", post: post