= turbo_stream_from "posts"

.grid.grid-cols-3.mb-5
  %div#trending
    = render "posts/trending", posts: @trending
  %div
    = render 'new'
    = render "posts", posts: @posts.order_desc
  %div#people
    = render "users/strangers", strangers: @strangers

