!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Facebook
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => current_user&.id, :name => "user-id"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body.bg-gray-50
    .mb-16
      = render 'layouts/navbar'
    .notice.text-center.bg-green-200
      = notice
    .alert.text-center.bg-red-200
      = alert
    = yield
